body {
	background-color: #222222;
	color: #dddddd;
}
div.bidding {
	border: solid #0056B3 2px;
}
.relay {
	background-color: #0056B3;
}
.OtherPage {
background-color: #0056B3;
}
.bidding.diff, .bidding.subtreediff:not(.rozwiniete) {
	border-color:#A87600;
}
.bidding.diff.relay, .bidding.subtreediff.relay:not(.rozwiniete) {
	background-color:#A87600;
}
.bidding.diff.relay.rozwiniete:not(:hover) {
	background-color:#8A6000;
}
ul.topmenu li {
	border: solid #0056B3 2px;
	background-color: #0056B3;
}
a.topmenu {
	color: #dddddd;
}
.rozwiniete {
	background-color: #003E80;
}
table.bidding {
	border: solid #0056B3 1px;
}
table.bidding tr:first-child td  {
	background-color: #0056B3;
}
table.bidding tr:first-child td  {
	border: solid #0056B3 1px;
}
table.bidding tr  td{
	border: solid #0056B3 1px;
}
table.hands {
	border: solid #0056B3 1px;
}
table.hands tr:first-child td  {
	border: solid #0056B3 1px;
}
table.hands tr  td {
	border: solid #0056B3 1px;
}
table.tabela2x200 {
	border: solid #0056B3 1px;
}
table.tabela2x200 tr:first-child td  {
	border: solid #0056B3 1px;
}
table.hands tr:first-child td  {
	background-color: #0056B3;
}
table.tabela2x200 tr:first-child td  {
	background-color: #0056B3;
}
.t2 {
	border: solid 1px #0056B3;
	background-color: #0056B3;
}
.t3 {
	border: solid 1px #0056B3;
}
cl:after {
	color: #00e63d;
}
di:after {
	color: #ffc14d;
}
he:after {
	color: #ff3333;
}
sp:after {
	color: #9999ff;
}
